%tr
	%td
		=line_item.item.merchant.name
	%td
		=line_item.item.merchant.address
	%td
		=line_item.purchaser.first
	%td
		=line_item.item.description
	%td
		=number_to_currency(line_item.item.price)
	%td
		=line_item.purchase_count
